* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 8px;
}

.flex-nav {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}

@media(max-width: 500px) {

    .flex-container, .flex-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
}