.container {
    display: grid;
    grid-template-areas:
    "header header header"
    "body body aside"
    "footer footer footer"
    ;
    grid-template-rows: 100px 200px 100px;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh; 
}
.header {
    grid-area: header;
    background-color: lightblue;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body {
    grid-area: body;
    background-color: lightgreen;
    text-align: center;
}

.aside {
    grid-area: aside;
    background-color: lightcoral;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: lightgray;
    text-align: center;
}
