.continer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 1rem;


}

.item1:first-child {
    grid-column: 1 / span 2; 
    grid-column-start: 1;
    grid-column-end: 3;
    color: red;
}
