.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid-item {
    border: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item-1 {
    background: red;
    border-radius: 15px; 
}

