#box1 {
  font-size: x-large;  
  border: 2px solid red;
  border-radius: 20px;
  }
#box2 {
  font: bold;
  font-style: italic;
}
#box3 {
  color: white;
  box-shadow: 5px;
  background-color: black;
  }