*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}
a {
    text-decoration: none;
    color: #d3d3d3;
}

a:hover{
    background: #fff;
    color: #333;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: 30vh;
    align-items: center;
    background: #333  no-repeat center center/cover;
    color: #fff;
    font-size: 2rem;
    height: 100vh;
}

.header h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
}

.header p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
}

.btn {
    font-family: 'Times New Roman", Times, serif';
    width: 20rem;
    background: transparent;
    padding: 2rem;
    text-align: center;
    border-radius: 7px;
}



@media(max-width:400px) {
    .header {
        font-size: 2rem;
        align-items: center;
    }
    .header p {
        padding: 2.5rem;
    }
}