body {
    background-color: lightgrey;
}

h1 {
    font-size:xx-large; 
    color: chartreuse;
}
h2 {
    color: brown;
}
h3 {
    color: coral;
}
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lightpink;
}
p {
    color: bisque;
}
