* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;

}

@media(max-height: 700px) {
    h1 {
        font-size: 2rem;
    }
}